<div class="column">
    <nav class="panel">
        <p class="panel-heading">Who to Follow</p>
        <div class="panel-block">
            <article class="media">
                <div class="media-left">
                    <figure class="image is-32x32">
                        <img src="https://icons.iconarchive.com/icons/ccard3dev/dynamic-yosemite/512/Icon-Composer-icon.png">
                    </figure>
                </div>
                <div class="media-content">
                    <div class="content">
                        <p>
                            <strong>Max Afanga</strong>
                            <small>@maxafanga</small>

                        </p>
                    </div>
                </div>
            </article>
        </div>
        <div class="panel-block">
            <article class="media">
                <div class="media-left">
                    <figure class="image is-32x32">
                        <img src="https://icons.iconarchive.com/icons/ccard3dev/dynamic-yosemite/512/Icon-Composer-icon.png">
                    </figure>
                </div>
                <div class="media-content">
                    <div class="content">
                        <p>
                            <strong>Max Afanga</strong>
                            <small>@maxafanga</small>

                        </p>
                    </div>
                </div>
            </article>
        </div>
    </nav>
</div>