<div class="section">
    <div class="container">
        <div class="column is-centered">
            <div class="column is-half">
                <h1 class="title">Editing Quote</h1>
                <%=  render 'form', quote: @quote %>
            </div>
        </div>
    </div>
</div>
<nav class="navbar is-fixed-bottom">
    <div class="navbar-menu">
        <div class="navbar-item">
            <div class="filed is-grouped">
                <p class="control">
                    <%= link_to 'Cancel', quotes_path, class: "button is-dark" %>
                </p>
            </div>
        </div>
    </div>
</nav>